<%- include('header') -%>

<div class="guideButtons">
  <a href="/" class="infoButtons">Atvinnuumsókn</a>
  <a href="/applications" class="infoButtons">Umsóknir</a>
  <a href="/admin" class="infoButtons">Notendur</a>
</div>

<h1>Notendur</h1>

<%- include('footer') -%>